<!-- <!DOCTYPE html>
<html>
<head>
	<title>DBAccess Security</title>
	<style>
		.button {
		    display: block;
		    width: 150px;
		    height: 25px;
		    background: #4E9CAF;
		    padding: 10px;
		    text-align: center;
		    border-radius: 5px;
		    color: white;
		    font-weight: bold;
		}
	</style>
</head>
<body>
	<h1> DBAccess Security </h1>
	<p>To get DB Access Security creds please login using AIL google account.</p>
	<a class="button" href="/auth/google">Sign In with Google</a>
	<a class="button" href="/logout">Sign Out</a>
</body>
</html> -->

<!doctype html>
<html>
<head>
    <title>AIL DBAccess Security</title>
   	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">		
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
	<div class="container">

	    <div class="jumbotron text-center">
	        <h1><span class="fa fa-lock"></span> AIL DBAccess Security</h1>
	        <p>To get DB Access Security creds please login using AIL google account.</p>
	        <p>Sign In with Google:</p>

	        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

	    </div>

	</div>
</body>
</html>